/* ========= DESKTOP / BASE ========= */
.imageContainer {
    gap: 5vw;
}

.secondSlide {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.secondSlide img {
  flex: 1;
  width: 80vw;
  object-fit: contain;
  display: block;
  margin-right: 5vw;
}

/* ========= MOBILE ========= */
@media screen and (max-width: 425px) {

  .imageContainer {
    gap: 5vw;
  }

  .imageContainer img:nth-child(1){ 
    width: 100vw;
  }
  .secondSlide {
    display: flex;
    flex-direction: column;
    height: 75vh;                      /* hauteur mobile voulue */
    justify-content: space-between;    /* répartit les images haut / bas */
    align-items: center;               /* centre horizontalement */
  }

  .secondSlide img {
    flex: 0;                            /* évite le stretch sauvage */
    width: 100vw;                         /* même rendu que desktop */
  }

  .secondSlide img:nth-child(1){ 
    margin-top: auto;
    margin-bottom: 1vh;
  }

  .secondSlide img:nth-child(2){ 
    margin-bottom: auto;
    margin-top: 1vh;
  }
}
