
.imageContainer {
  z-index: 0;
  position: relative; 
}


.imageContainer img:first-child {
  width: 75vw;
  object-fit: cover;
  display: block;
}


.imageContainer img:nth-child(7) {
  height: 90vh;
  width: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}


.videoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  pointer-events: auto;
}


.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: auto !important;
  cursor: auto !important;
  z-index: 11;
}


.imageContainer p {
  position: absolute;
  bottom: 10vh;
  right: -48vw;
  max-width: 54vw;
  line-height: 1.4;
  padding: 1vh 1vw;
  color: black;
}





@media (max-width: 768px) {
  
  .imageContainer img:first-child {
    width: 65%;
    object-fit: cover;
  }

  
  .imageContainer img:nth-child(7) {
    width: auto;
    height: 65vh;
    object-fit: contain;
    margin: 5vh auto;
    padding: 0 4vw;
    display: block;
  }

  
  .videoContainer {
    height: 100vh;
    position: relative;
    bottom: 15vh;
  }

  .videoContainer video {
    height: auto;
    width: 100vw;
    object-fit: cover;
  }

  
  .imageContainer p {
    bottom: 35vh;
    right: -55vw;
    max-width: 75vw;   
    text-align: justify;
    font-size: calc(0.8 * var(--font-size-default)); 
  }
}
