.hoverImageCss {
    background-image: url("../images/AVATAR_Default.png");
    width: clamp(120px, 20vw, 200px);
    height: clamp(120px, 20vw, 200px);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.hoverImageCss:hover {
    background-image: url("../images/AVATAR_Hover.png");
}

main {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;              
    justify-content: space-between;     
    width: 100vw;
    padding: 40px;
    gap: 40px;
    box-sizing: border-box;
}

.leftPart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;          
    align-items: flex-start;            
    flex-wrap: nowrap;
    width: 50vw;
    height: 100%;
    gap: 20px;                          
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;            
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    gap: 10px;
    text-align: left;
}

.text p {
    width: 100%;
    margin: 0;
    text-align: left;
}

.text1 {
    font-size: 3.5vw;
}

.text2 {
    font-size: 3.65vw;
}


.rightPart {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 100%;
    padding: 40px;
    z-index: 999;
    pointer-events: none;
}

#myCarousel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60vw; 
    height: 90vh;
    overflow: hidden;
    z-index: 1000;
    pointer-events: auto;
    border-radius: 30px 0 0 0;
}

#myCarousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#myCarousel img.active {
    opacity: 1;
    z-index: 2;
}

.navProjet {
    visibility: hidden;
}


@media (max-width: 768px) {

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        top: 7vh;
        padding: 12px;
        gap: 12px;
    }

    .leftPart,
    .rightPart {
        position: relative;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        left: auto;
        bottom: auto;
        top: auto;
        right: auto;
        padding: 0;
    }

    .leftPart {
        gap: 8px;
    }

    
    .leftPart .text {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: calc(1vh * var(--font-size-default));
        gap: 0;
    }

    .leftPart .text p {
        width: 100%;
        text-align: center;
    }

    .text1 {
        font-size: 10vw;
    }
    
    .text2 {
        font-size: 10.4vw;
    }

    
    .hoverImageCss {
        width: clamp(50px, 40vw, 100px);
        height: clamp(50px, 40vw, 100px);
    }

    #myCarousel {
        position: relative;
        width: 100%;
        height: 50vh;
        border-radius: 0;
    }

    
    .navProjet {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--font-color);
        color: var(--background-color);
        width: 90vw;
        min-height: 3vh;
        border-radius: 40px;
        padding: 12px;
        text-align: center;
    }

    .navProjet a {
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 4vw;
        font-weight: 500;
        text-decoration: none;
        color: var(--background-color);
    }
}
