main {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
    top: 7vh;
}

.links{
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.icon {
     width: 32px;
}

.linkContainer:hover .icon {
    rotate: -45deg;
}

.linkContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

.textLink {
    font-family: 'CooperBTLight', sans-serif;
    font-size: calc(1.1 * var(--font-size-default));
}

.bullet {
    color: #F8A08D;
}

.date {
    font-family: 'MaisonNeueLight', sans-serif;
    --font-date-size: 14px;
    font-size: calc(0.58 * var(--font-size-default));
    color: var(--font-color);
}

.projectImage {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  width: 50vw;
  height: 86vh;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
  border-radius: 30px;
  object-fit: cover;
}


@media (max-width: 768px) {
    main {
        width: 100vw;                   
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 16px;
    }

    .links {
        position: static;               
        width: 100%;                    
        box-sizing: border-box;
    }

    .linkContainer {
        display: flex;
        align-items: center;
        width: 100%;                    
        justify-content: space-between;
        box-sizing: border-box;         
    }

    .icon {
        width: 6vw;
        flex-shrink: 0;
    }

    .textLink {
        flex: 1;
        text-align: left;
        font-size: clamp(1.1rem, 3vw, 1.4rem);
    }

    .bullet {
        color: #F8A08D;
        margin: 0 4vw;
    }

    .date {
        flex-shrink: 0;
        color: var(--font-color);
    }

    .linkContainer .icon {
        rotate: -45deg;
    }

    .linkContainer:hover .icon {
        rotate: 0deg;
    }

    .projectImage {
        display: none;
    }
}

