*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1.5;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    color: inherit;
    background: transparent;
}

ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

button, [type="button"], [type="submit"] {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
legend {
    padding: 0;
}

textarea {
    resize: vertical;
}

::placeholder {
    opacity: 1;
    color: #999;
}

[hidden] {
    display: none !important;
}